// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-list {
  font-size: 12px;
}

form {
  .new_order {
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .submit {
    width: 100px;
  }
}

.status-success {
  border: 2px solid green;
  border-radius: 5px;
  color: white;
  background-color: mediumaquamarine;
  max-width: 70px;
  display: flex;
  justify-content: center;
}

.status-issue {
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  max-width: 70px;
  display: flex;
  justify-content: center;
}
